name: Run Integration Tests

on:
  pull_request:
    branches: [ main ]
    
jobs:
  integration-tests:
    runs-on: ubuntu-latest

    env:
      TEST_PROJECT_PATH: tests/YourProject.IntegrationTests
      DB_CONTEXT_PROJECT_PATH: src/YourProject.Infrastructure

    services:
      sqlserver:
        image: mcr.microsoft.com/mssql/server:2022-latest
        env:
          SA_PASSWORD: "sa"
          ACCEPT_EULA: "Y"
        ports:
          - 1433:1433
        options: >-
          --health-cmd "/opt/mssql-tools/bin/sqlcmd -S localhost -U sa -P 'sa' -Q 'SELECT 1'"
          --health-interval 10s
          --health-timeout 5s
          --health-retries 10
