name: Run Integration Tests

on:
  pull_request:
    branches: [ main ]

jobs:
  integration-tests:
    runs-on: ubuntu-latest

    container:
      image: mcr.microsoft.com/mssql/server:2019-latest
      env:
        SA_PASSWORD: "P@ssw0rd123!"
        ACCEPT_EULA: "Y"
      options: >-
        --name sql1
        -p 1433:1433

    steps:
      - name: Wait for SQL Server
        run: |
          for i in {1..30}; do
            /opt/mssql-tools/bin/sqlcmd -S localhost -U sa -P "P@ssw0rd123!" -Q "SELECT 1" && break
            sleep 1
          done
